body {
	margin: 0;
	font-family: "Segoe UI", "Roboto", "Arial", sans-serif;
	background-color: #f7f9fb;
	color: #222;
}

input,
button {
	font-family: inherit;
}

button {
	cursor: pointer;
}

/* Utility classes */
.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 600px) {
	body {
		font-size: 1rem;
		background-color: #f7f9fb;
	}
	input,
	button {
		font-size: 1rem;
		padding: 0.75em 1em;
	}
}
